{
    "ai_horde_api_key": "",
    "client_agent": "Horde Styles Preview Generator:v1.0:https://github.com/Haidra-Org/AI-Horde-Styles",
    "cdn_url_prefix": "https://raw.githubusercontent.com/amiantos/AI-Horde-Styles-Previews/main/images",
}